*{
    margin: 0;
    padding: 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(159, 167, 175);
}
main{
    background-color: white;
    margin: 5%;
    padding: 20px;

}
.start {
    height: 800px;
    padding: 20%;
    margin: 0;
    background-image: url("gotl.jpg");
    justify-content: right;
}
.intrestform{
    border-radius: 20px;
    color: green;
}
.left-section{
    float: left;
    padding: 20px;
}
.right-section{
    float: right;
    padding: 20px;
}
.bottom-section{
    clear: both;
    padding: 20px;
    overflow: hidden;
}
.buttonprimary{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    background-color: blue;
    border-radius: 8px;
    border: solid;
    border-color: blue;
    padding: 5px;
    float: right;
    margin: 20px;
    text-decoration: none;

}
.buttonsecondary{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: blue;
    background-color: white;
    border-radius: 8px;
    border: solid;
    padding: 5px;
    float: right;
    margin: 20px;

}